{{ $comments := readDir "data/comments" }}
{{ $.Scratch.Add "hasComments" 0 }}
{{ $slug := .Slug }}


{{ range $comments }}
  {{ if eq .Name $slug }}
    {{ $.Scratch.Add "hasComments" 1 }}
    {{ range $index, $comments := (index $.Site.Data.comments $slug ) }}
<blockquote>
<p>{{ $comments.message | markdownify }}</p>
<cite>
  <img src="https://www.gravatar.com/avatar/{{ .email }}?s=100">
  <strong>{{ .name }}</strong><br>{{ dateFormat "02/01/2006" .date }}  
</cite>
</blockquote>
    {{ end }}
  {{ end }}
{{ end }}

{{ if eq ($.Scratch.Get "hasComments") 0 }}
  <p>Hey, be the first who comment this article.</p>
{{ end }}
